@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-surface text-white antialiased;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02";
  }

  * {
    @apply box-border;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-white/10;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-white/20;
  }

  textarea {
    field-sizing: content;
  }
}
